//output: page.html
doctype html
html
  head(lang="en")
    title نظام الغياب والحضور
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="app.css")
    link(href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
  body
      ul.menu()
        li(onclick="menu_delet()") حذف
        li(onclick="menu_edit()") تعديل
      ///////////////////////////////////////////////////////////
      #overlay
      #Check_column
        #Student.selected.tap(data-group="student") لائحه الطلبه
        #Absentees.tap(data-group="absentees") الغائبين
        #sliderChosse
          #chosseGrade
            span.tap الصف
              span#gradeName الابتدائي
            ul#Window_Display_Options2
              li.gradeSelect الابتدائي
              li الاعدادي
              li الثانوي
          #chosseClass
            span.tap فصل
              span#className.center 2/2
            ul#Window_Display_Options
              li.classSelect 2/2
              li 2/3
              li 2/4
      #viewWindow
        ul#list_student
      ///////////////////////////////////////////////////////////
      form#form_add_student
        div#titleofForm إضافه طالب 
        input(placeholder="الاسم الاول")#inp_frist_name
        input(placeholder="الاسم الثاني")#inp_last_name
        div#Con_inp_code
          input(type="password" placeholder="الاسم الاول" important)#inp_code
          i(class="far fa-eye-slash")
        div#notyfictions
      ///////////////////////////////////////////////////////////
      form#form_attendance
        div#titleofForm2 رمز الطالب 
        div#Con_inp_code2
          input(type="password" placeholder="الرمز" important)#inp_code2
          i(class="far fa-eye-slash")
        div#notyfictions2
      ///////////////////////////////////////////////////////////
      #taskbar
        //-----------------------------------
        #Con_clock
          #clock
        //-----------------------------------
        button#togglelock
          span(class="fas fa-unlock")
        button#add_student أضف طالب
  script(type="text/javascript", src="E:/html/LPM/helpingFunc.js")
  script(type="text/javascript", src="DataBase.js")
  script(type="text/javascript", src="E:/html/LPM/JPLUS.js")
  script(type="text/javascript", src="E:/html/LPM/Slider.pj.js")
  script(src="Style.js")
  script(type="text/javascript", src="Forms.js")
  script(type="text/javascript", src="view.js")
